@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); /* Importa a fonte Quicksand do Google Fonts */

* {
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
}

:root {
    --primary-color: #426972; /* Cor primária (azul claro) */
    --secondary-color: #426972; /* Cor secundária (cinza claro) */
    --tertiary-color: #426972; /* Cor terciária (cinza médio) */
    --bg-color: #e5ebe3; /* Cor de fundo (cinza escuro) */
}

body {
    margin: 0; /* Remove a margem padrão do body */
    color: var(--secondary-color); /* Define a cor do texto padrão usando uma variável */
    font-family: "Quicksand", sans-serif; /* Define a família da fonte */
    /* 
      A primeira camada é um gradiente de cor sólida com 85% de opacidade (15% de transparência).
      A segunda camada é a sua imagem de fundo.
    */
    /* A imagem de fundo e o gradiente foram removidos para dar lugar ao vídeo */
    background-color: var(--bg-color); /* Cor de fundo caso a imagem não carregue */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-attachment: fixed; /* Mantém a imagem fixa durante a rolagem */
}

/* Estiliza a barra de rolagem para ser mais fina e discreta */
::-webkit-scrollbar {
    width: 3px; /* Largura da barra de rolagem vertical */
    height: 3px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
    background: transparent; /* Fundo da área da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color); /* Cor da barra de rolagem */
    border-radius: 20px; /* Bordas arredondadas */
    border: 3px solid transparent; /* Espaçamento em volta da barra */
}

header {
    padding: 1rem 2rem; /* Espaçamento interno */
    display: flex; /* Habilita o layout flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */    
    justify-content: space-between; /* Espaça os itens (título na esquerda, busca na direita) */
    position: fixed; /* Mantém o cabeçalho fixo e flutuando sobre a página */
    top: 0; /* Posição no topo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Define a largura do header para ocupar toda a página */
    background-color: #426972;
    z-index: 10; /* Define a ordem de empilhamento para ficar sobre outros elementos */
    border-radius: 0; /* Remove o arredondamento para ter um formato retangular */
    overflow: hidden; /* Garante que o vídeo não transborde */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80rem; /* Mesma largura máxima do main */
    margin: 0 auto; /* Centraliza o conteúdo do header */
}

header h1 {
    font-size: 1.6rem; /* Tamanho da fonte */
    margin: 0; /* Remove a margem padrão */
    font-weight: 900; /* Peso da fonte (médio) */
    white-space: nowrap; /* Impede a quebra de linha do texto */
    color: white;
}

div input {
    padding: 0.375rem 0.75rem; /* Espaçamento interno */
    border-radius: 1rem; /* Arredonda as bordas */
    border: 1px solid var(--tertiary-color); /* Define a borda */
    background: var(--bg-color); /* Cor de fundo */
    font-family: inherit; /* Herda a família da fonte do elemento pai */
    font-size: 1.5rem; /* Tamanho da fonte */
    transition: all 0.2s ease; /* Adiciona uma transição suave para todas as propriedades */
    width: 30rem; /* Largura do input */
    color: var(--secondary-color); /* Cor do texto digitado */
    margin-right: .5rem; /* Margem à direita */
}

div input::placeholder {
    font-size: 1.2rem; /* Tamanho da fonte do placeholder */
    font-weight: 100; /* Peso da fonte do placeholder */
    color: var(--tertiary-color); /* Cor do texto do placeholder */
}

div input:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-color: var(--bg-color); /* Muda a cor da borda ao focar */
    box-shadow: 0 0 0 0.1rem var(--tertiary-color); /* Adiciona uma sombra de caixa para indicar foco */
}

#botao-busca {
    padding: 0.7rem 1.7rem; /* Espaçamento interno */
    border-radius: 1rem; /* Arredonda as bordas */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    font-family: inherit; /* Herda a família da fonte */
    font-weight: 300; /* Peso da fonte */
    font-size: 1.2rem; /* Tamanho da fonte */
    white-space: nowrap; /* Impede a quebra de linha do texto */
    transition: background-color 0.2s ease, color 0.2s ease; /* Transição suave para cor de fundo e cor do texto */
    background-color: var(--bg-color); /* Cor de fundo */
    color: var(--secondary-color); /* Cor do texto */
    border: 1px solid var(--bg-color); /* Adiciona uma borda */
}

#botao-busca:hover {
    background-color: var(--primary-color); /* Muda a cor de fundo ao passar o mouse */
    color: var(--bg-color); /* Muda a cor do texto ao passar o mouse */
    box-shadow: 0 0 0 0.1rem var(--primary-color); /* Adiciona uma sombra de caixa */
}

#botao-busca:active {
    transform: scale(0.98); /* Efeito de clique (diminui o tamanho) */
}

main {
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura */
    max-width: 80rem; /* Largura máxima do conteúdo principal */
    margin: 0 auto; /* Centraliza o conteúdo principal horizontalmente */    
    padding-top: 10rem; /* Adiciona espaço no topo para não ficar atrás do header */
    height: auto; /* A altura se ajustará ao conteúdo */
}

article {
    background: none; /* Sem cor de fundo */
    border-radius: 8px; /* Bordas arredondadas */    
    padding: 1.5rem; /* Espaçamento interno */
    margin-bottom: 1.25rem; /* Margem inferior */
    box-shadow: none; /* Sem sombra */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave */
    border-bottom: 1px solid var(--bg-color); /* Borda inferior */
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    overflow: hidden; /* Esconde o brilho fora do card */
}

article::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Começa fora da tela à esquerda */
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(66, 105, 114, 0.2), transparent);
    transition: left 0.6s ease; /* Transição suave para o movimento */
}

article:hover {
    transform: scale(1.01); /* Aumenta ligeiramente o tamanho ao passar o mouse */
    cursor: pointer; /* Muda o cursor para uma mão */
    background-color: rgba(66, 105, 114, 0.2); /* Cor de fundo com transparência */
}

article:hover::before {
    left: 100%; /* Move o brilho para a direita ao passar o mouse */
}

article h2 {
    margin-top: 0; /* Remove a margem superior */
    font-weight: 600; /* Peso da fonte */
    font-size: 1.6rem; /* Tamanho da fonte */
    border-bottom: none; /* Sem borda inferior */
    padding-bottom: 0; /* Sem espaçamento interno inferior */
    margin-bottom: 0.25rem; /* Margem inferior */
    color: var(--primary-color); /* Cor do texto */
}

article p {
    margin: 0.5rem 0; /* Margem superior e inferior */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    font-size: 1rem; /* Tamanho da fonte */
    color: var(--secondary-color); /* Cor do texto */
}

article p strong {
    color: var(--tertiary-color); /* Cor do texto em negrito */
    font-weight: 400; /* Peso da fonte */
}

article a {
    color: var(--primary-color); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: 200; /* Peso da fonte */
}

article a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.footer {
    position: fixed; /* Posicionamento absoluto em relação ao elemento pai posicionado */
    bottom: 0; /* Alinha na parte inferior */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total */
    color: var(--tertiary-color); /* Cor do texto */
    background-color: #426972;
    padding: 4px 20px; /* Espaçamento interno (deixando mais fino) */
    border-top: 0px solid #426972; /* Borda superior */
    font-size: 0.8rem; /* Tamanho da fonte */
}

.footer-location {
    color: #9aa0a6; /* Cor do texto */
    margin-bottom: 10px; /* Margem inferior */
}

.footer-links {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Habilita o layout flexbox */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 90px; /* Espaçamento entre os links */
}

.footer-links a {
    color: white; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.2s; /* Transição suave para a cor */
}

.footer-links a:hover {
    color: var(--primary-color); /* Muda a cor do link ao passar o mouse */
}

.search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hero {
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.hero-title {
    font-size: 3.0rem;
    font-weight: 700;
    color: #426972; /* Cinza escuro */
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7); /* Sombra para legibilidade */
    margin-bottom: 0.5rem;
}

.hero-subtitle {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra para legibilidade */
}

@media (max-width: 768px) {
    .header-content { /* Estilos para telas com largura máxima de 768px */
        flex-direction: column; /* Organiza os itens do cabeçalho em coluna */
        gap: 1rem;
    }

    header h1 { /* Estilos para o h1 no cabeçalho em telas menores */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 0; /* Adiciona margem inferior */
    }

    div input { /* Estilos para o input em telas menores */
        width: 90vw; /* Largura baseada na largura da viewport */
        font-size: 1.2rem; /* Reduz o tamanho da fonte */
    }

    .search-container { flex-direction: column; }

    main { /* Estilos para o main em telas menores */
        padding: 10rem 1rem 0; /* Adiciona espaçamento lateral mantendo o espaço do topo */
    }

    .hero-title {
        font-size: 2.5rem;
        color: var(--primary-color);
    }
    .hero-subtitle { 
        font-size: 1rem; 
        color: var(--primary-color);
    }
    article:hover { /* Estilos para o article em telas menores */
        transform: none; /* Remove o efeito de escala ao passar o mouse */
    }
}

@media (max-width: 480px) {
    header h1 { /* Estilos para o h1 em telas com largura máxima de 480px */
        font-size: 1rem; /* Reduz ainda mais o tamanho da fonte */
        max-width: 70%; /* Define uma largura máxima */
        word-wrap: break-word; /* Permite a quebra de palavras longas */
    }

    div input, /* Estilos para o input e seu placeholder em telas muito pequenas */
    div input::placeholder {
        font-size: 1rem; /* Reduz o tamanho da fonte */
    }

    article h2 { /* Estilos para o h2 do article em telas muito pequenas */
        font-size: 1.3rem; /* Reduz o tamanho da fonte */
    }

    div { /* Estilos para a div do cabeçalho em telas muito pequenas */
        display: flex; /* Habilita flexbox */
        align-items: center; /* Alinha itens ao centro */
        justify-content: center; /* Centraliza itens */
        flex-direction: column; /* Organiza em coluna */
        gap: 0.5rem; /* Espaçamento entre os itens */
    }

    .footer { /* Estilos para o rodapé em telas muito pequenas */
        display: none; /* Oculta o rodapé */
    }

    #botao-busca { /* Estilos para o botão em telas muito pequenas */
        margin-top: 1rem; /* Adiciona margem no topo */
    }
}